


<ion-content padding center text-center id="login-page">

  <div id="login-card">
  <img src="https://firebasestorage.googleapis.com/v0/b/bv-ionic.appspot.com/o/IMG_3535.JPG?alt=media&token=f7a2c39b-dfe9-4068-8105-5e2976314e4c">

  <form [formGroup]="loginForm" (submit)="loginUser()" novalidate>

    <ion-card id="login-form">
    <ion-item>
      <ion-icon item-left name="mail"></ion-icon>
      <ion-input #email icon-left formControlName="email" type="email" placeholder="Email"
        [class.invalid]="!loginForm.controls.email.valid && loginForm.controls.email.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.email.valid  && loginForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>

    <ion-item>
      <ion-icon item-left name="lock"></ion-icon>
      <ion-input #password formControlName="password" type="password" placeholder="Password"
        [class.invalid]="!loginForm.controls.password.valid && loginForm.controls.password.dirty"></ion-input>
    </ion-item>
    <ion-item class="error-message"
      *ngIf="!loginForm.controls.password.valid  && loginForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
  </ion-card>

    <button ion-button icon-right type="submit" id="connect-btn">
      Log in
    </button>
  </form>



<ion-item no-lines>
  <button item-left ion-button clear (click)="goToSignup()" id="buttons">
    Join the Network
  </button>

  <button item-right ion-button clear (click)="goToResetPassword()" id="buttons">
    I forgot my password
  </button>

</ion-item>
</div>


</ion-content>
