page-login {

  #login-page{
    background-color: black;
  }

  #login-card {
    margin-top: 50px;
    background-color: #000000;
    color: #C6E947;
  }

  #login-form {
    margin-top: 60px;
    border-radius: 15px 15px 15px 15px;
    background-color: transparent;


  }

  #login-card ion-item {
    background-color: transparent;
    color: #FFFFFF;

  }


  #login-form ion-input{
    border-bottom: 1px solid #C6E947;
    padding-left: 5px;
  }


  #login-field {
    border-radius: 15px;
  }

  #buttons {
    font-weight: bold;
    color: lightgray;

  }





}
