page-opp-detail {

#content{
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
<<<<<<< HEAD
=======
  color: #FFFFFF;


>>>>>>> 15a7582d078460387d829511c9c4379a7b9f0797
}

#content ion-item {
  background: transparent;
  color: #FFFFFF;
}

#oppName {
  color: #FFFFFF;
  text-align: center;
}

#opp-img {
  background-color: lightgray;
  height: 250px;
  width: 100%;

<<<<<<< HEAD
}



#icons button{
padding: 10px;
text-align: center;

}

#icons {
  margin-right: 0px;
  position: sticky;
  bottom: 0px;
  border-top: 2px solid #515151;
  background: rgba(0, 0, 0, 0.4);

=======
}



#icons button{
padding: 10px;
text-align: center;

}

#icons {
  margin-right: 0px;
  position: sticky;
  bottom: 0px;
  border-top: 2px solid #515151;
  background: rgba(0, 0, 0, 0.4);
  height: 60px;

}

#icons div{
  margin-top: -10px;
>>>>>>> 15a7582d078460387d829511c9c4379a7b9f0797
}




ion-row {
<<<<<<< HEAD
=======
  margin-top: 0px;
  margin-bottom: 0px;
>>>>>>> 15a7582d078460387d829511c9c4379a7b9f0797
  padding-top: -10px;
  padding-bottom: -10px;
  border-bottom: 2px solid #515151;
}

ion-col {
  border-right: 2px solid #515151;
}


}
