page-opp-detail {

#content{
  background: rgba(0, 0, 0, 0.3);
  position: absolute;
}

#content ion-item {
  background: transparent;
  color: #FFFFFF;
}

#oppName {
  color: #FFFFFF;
  text-align: center;
}

#opp-img {
  background-color: lightgray;
  height: 250px;
  width: 100%;

}



#icons button{
padding: 10px;
text-align: center;

}

#icons {
  margin-right: 0px;
  position: sticky;
  bottom: 0px;
  border-top: 2px solid #515151;
  background: rgba(0, 0, 0, 0.4);

}




ion-row {
  padding-top: -10px;
  padding-bottom: -10px;
  border-bottom: 2px solid #515151;
}

ion-col {
  border-right: 2px solid #515151;
}


}
