page-event-detail {

  #content{
    background: rgba(0, 0, 0, 1);
    position: absolute;
    color: #FFFFFF;
  }

  #content ion-title {
    text-align: left;
    background: #515151;
    color: #000000;
  }

  #content ion-item {
    background: transparent;
    color: #FFFFFF;
  }

  #eventName {
    color: #FFFFFF;
    text-align: center;
  }

  #event-img {
    background-color: lightgray;
  }

  #icons {
    margin-right: 0px;
    position: sticky;
    bottom: 0px;
    border-top: 2px solid #515151;
    background: rgba(0, 0, 0, 0.9);
    height: 60px;
  }


  ion-row {
    border-bottom: 2px solid #515151;
  }



}
