<!--
  Generated template for the EditProfile page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Edit Profile</ion-title>
  </ion-navbar>
  <ion-segment [(ngModel)]="editProfile" no-lines id="segmentToggle">
    <ion-segment-button value="persInfo">
      Personal Info
    </ion-segment-button>
    <ion-segment-button value="busInfo">
      Business Info
    </ion-segment-button>
    <ion-segment-button value="Other">
      Other
    </ion-segment-button>
  </ion-segment>

</ion-header>




<ion-content id="content">


  <!-- Edit Page Nav. -->





      <div [ngSwitch]="editProfile" id="segments">

        <!--Personal Edit Page  -->
        <ion-list *ngSwitchCase="'persInfo'" id="persInfo">
          <ion-list-header>
            <ion-icon name='albums'></ion-icon>
            Bio
          </ion-list-header>

            <ion-item id=profile-img no-lines>
              <img id="user-img" src={{userProfile?.profilePic}} alt="avatar">
            </ion-item>


              <form [formGroup]="editProfileForm" (submit)="updatePersonalInfo()" novalidate>

                <ion-row>
                  <ion-col>
                <ion-item>
                  <ion-label><ion-icon name="person"></ion-icon></ion-label>
                  <ion-input #firstName formControlName="firstName" type="text" placeholder="First name"
                    [class.invalid]="!editProfileForm.controls.firstName.valid && editProfileForm.controls.firstName.dirty">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message"
                  *ngIf="!editProfileForm.controls.firstName.valid  && editProfileForm.controls.firstName.dirty">
                  <p>First name must be at least two characters.</p>
                </ion-item>
              </ion-col>
              <ion-col>

                <ion-item>
                  <ion-input #lastName formControlName="lastName" type="text" placeholder="Last name"
                    [class.invalid]="!editProfileForm.controls.lastName.valid && editProfileForm.controls.lastName.dirty">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message"
                  *ngIf="!editProfileForm.controls.lastName.valid  && editProfileForm.controls.lastName.dirty">
                  <p>Last name must be at least two characters.</p>
                </ion-item>
              </ion-col>
            </ion-row>

                <ion-item>
                  <ion-label><ion-icon name="book"></ion-icon></ion-label>
                  <ion-input #field formControlName="field" type="text" placeholder="Focus"
                    [class.invalid]="!editProfileForm.controls.field.valid && editProfileForm.controls.field.dirty">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message"
                  *ngIf="!editProfileForm.controls.field.valid  && editProfileForm.controls.field.dirty">
                  <p>Field must be at least two characters.</p>
                </ion-item>

                <ion-item>
                  <ion-label><ion-icon name="school"></ion-icon></ion-label>
                  <ion-input #college formControlName="college" type="text"
                    [class.invalid]="!editProfileForm.controls.college.valid && editProfileForm.controls.college.dirty">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message"
                  *ngIf="!editProfileForm.controls.college.valid  && editProfileForm.controls.college.dirty">
                  <p> College must be at least two characters.</p>
                </ion-item>

                <ion-item>
                  <ion-label><ion-icon name="pin"></ion-icon></ion-label>
                  <ion-input #location formControlName="location" type="text" placeholder="Location"
                    [class.invalid]="!editProfileForm.controls.location.valid && editProfileForm.controls.location.dirty">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message"
                  *ngIf="!editProfileForm.controls.location.valid  && editProfileForm.controls.location.dirty">
                  <p>Location must be at least two characters.</p>
                </ion-item>

                <ion-item>
                  <ion-label><ion-icon name="mail"></ion-icon></ion-label>
                  <ion-input #email formControlName="email" type="email" placeholder="Email address"
                    [class.invalid]="!editProfileForm.controls.email.valid && editProfileForm.controls.email.dirty">
                    </ion-input>
                </ion-item>
                <ion-item class="error-message"
                  *ngIf="!editProfileForm.controls.email.valid  && editProfileForm.controls.email.dirty">
                  <p>Please enter a valid email.</p>
                </ion-item>

                <ion-item>
                  <ion-label id="dob-label"> Date of Birth</ion-label>
                  <ion-datetime displayFormat="MMM D, YYYY"
                    formControlName="birthDate" ></ion-datetime>
                </ion-item>


                <ion-item (click)="updatePassword()">
                  <ion-grid>
                    <ion-row>
                      <ion-col width-50>
                        Password
                      </ion-col>
                      <ion-col class="placeholder-profile">
                        <span>
                          Tap here to edit.
                        </span>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </ion-item>

            <button ion-button full type="submit" id="connect-btn" >
                Submit
            </button>

            <button ion-button full id="logout-btn" (click)="logOut()">
                Logout page
                </button>


                  </form>
        </ion-list>

        <!--Business Edit Page  -->
        <ion-list *ngSwitchCase="'busInfo'" id="busInfo">
          <ion-list-header>
            <ion-icon name='briefcase'></ion-icon>
            New Employment
          </ion-list-header>

          <form [formGroup]="editEmploymentForm" (submit)="updateEmploymentInfo()" novalidate>
            <ion-item>
              <ion-label stacked>Company</ion-label>
              <ion-input #jobName formControlName="jobName" type="text" placeholder="Black Valley"
                [class.invalid]="!editEmploymentForm.controls.jobName.valid && editEmploymentForm.controls.jobName.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!editEmploymentForm.controls.jobName.valid  && editEmploymentForm.controls.jobName.dirty">
              <p> Company name must be at least two characters.</p>
            </ion-item>

            <ion-item>
              <ion-label stacked>Position</ion-label>
              <ion-input #jobPosition formControlName="jobPosition" type="text" placeholder="Software Developer"
                [class.invalid]="!editEmploymentForm.controls.jobPosition.valid && editEmploymentForm.controls.jobPosition.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!editEmploymentForm.controls.jobPosition.valid  && editEmploymentForm.controls.jobPosition.dirty">
              <p>Your Position must be at least two characters.</p>
            </ion-item>

            <ion-item>
              <ion-label stacked>Description</ion-label>
              <ion-input #jobDescription formControlName="jobDescription" type="text" placeholder="Description"
                [class.invalid]="!editEmploymentForm.controls.jobDescription.valid && editEmploymentForm.controls.jobDescription.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!editEmploymentForm.controls.jobDescription.valid  && editEmploymentForm.controls.jobDescription.dirty">
              <p>Job name must be at least two characters.</p>
            </ion-item>

            <ion-item>
              <ion-label stacked>Start Date</ion-label>
              <ion-input #jobDate formControlName="jobDate" type="text" placeholder="Summer 2017"
                [class.invalid]="!editEmploymentForm.controls.jobName.valid && editEmploymentForm.controls.jobDate.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!editEmploymentForm.controls.jobDate.valid  && editEmploymentForm.controls.jobDate.dirty">
              <p>Job name must be at least two characters.</p>
            </ion-item>

            <ion-item>
              <ion-label stacked>Link</ion-label>
              <ion-input #jobLink formControlName="jobLink" type="text" placeholder="www.therealblackvalley.com"
                [class.invalid]="!editEmploymentForm.controls.jobLink.valid && editEmploymentForm.controls.jobName.dirty">
                </ion-input>
            </ion-item>
            <ion-item class="error-message"
              *ngIf="!editEmploymentForm.controls.jobLink.valid  && editEmploymentForm.controls.jobLink.dirty">
              <p>Job name must be at least two characters.</p>
            </ion-item>
            <button ion-button full type="submit" id="connect-btn" >
                Submit
            </button>
          </form>

          <ion-list id="userEmployment">
        <ion-list-header>
          <ion-icon name='briefcase'></ion-icon>
          Current Employment
        </ion-list-header>


          <ion-list id="employment">
            <ion-card *ngFor="let job of jobs"text-wrap>
              <ion-row>
                <ion-col><div><h1 item-left>{{job?.jobName}}</h1></div></ion-col>
                <ion-col class="end"><div> <h2 item-right>{{job?.jobPosition}}</h2></div></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><div><p>{{job?.jobDescription}}</p></div></ion-col>
              </ion-row>
              <ion-row>
                <ion-col><div> <a href={{job?.jobLink}}>Link</a></div></ion-col>
                <ion-col class="end"><p>{{job?.jobDate}}</p></ion-col>
              </ion-row>
            </ion-card>
          </ion-list>

        </ion-list>




        </ion-list>

        <!--Other Edit Page  -->
          <ion-list *ngSwitchCase="'Other'" id="other">

          <ion-list-header>
            <ion-icon name='pulse'></ion-icon>
            Interest
          </ion-list-header>

          <ion-scroll scrollX="true" >
            <ion-row>
              <button ion-button clear class="interest" (click)="addInterest()"><ion-col><div id="addInterest"> <ion-icon name="add"></ion-icon> Add <br> Interest</div></ion-col></button>
              <ion-col><div class="interest"> Augmented Reality</div></ion-col>
              <ion-col><div class="interest"> App Development</div></ion-col>
              <ion-col><div class="interest"> Web Development</div></ion-col>
              <ion-col><div class="interest"> Virtual Reality</div></ion-col>
              <ion-col><div class="interest"> Another Interest</div></ion-col>
          </ion-row>
          </ion-scroll>

          </ion-list>



        </div>
</ion-content>
