page-opportunities {

  #content ion-item {
    background: transparent;
    color: #FFFFFF;
  }

  #oppName {
    color: #C6E947;
  }

  #opp-card{
    box-shadow: 0 0 3px 2px #000;
    background-color: #000000;
  }


  #card-header {
    background-color: black;
  }






}
