<ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
    <ion-buttons end id="settings"><button ion-button  clear icon-only color="secondary" (click)="editProfile()"><ion-icon name="settings" ></ion-icon></button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content id="content">


  <ion-item id="profile-header" no-lines>
    <img id="profile-bg-img" src="https://firebasestorage.googleapis.com/v0/b/bv-ionic.appspot.com/o/default%20BG.jpg?alt=media&token=890ddab2-35a4-4edd-9e1c-9abd040d20d5">
    <div id="profile-header-content">
      <ion-item id=profile-img>
        <img id="user-img" src={{userProfile?.profilePic}} alt="avatar">
      </ion-item>
    <h2 id="profile-name" *ngIf="userProfile?.firstName || userProfile?.lastName">
      <b>{{userProfile?.firstName}} {{userProfile?.lastName}}</b></h2>
      <p>{{userProfile?.field}}</p>
    </div>
  </ion-item>

    <ion-list-header>
      <ion-icon name='briefcase'></ion-icon>
      Employment
    </ion-list-header>
    <ion-list id="employment">
      <ion-card *ngFor="let job of jobs" text-wrap>
        <ion-row>
          <ion-col><div><h1 item-left>{{job?.jobName}}</h1></div></ion-col>
          <ion-col class="end"><div> <h2 item-right>{{job?.jobPosition}}</h2></div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div><p>{{job?.jobDescription}}</p></div></ion-col>
        </ion-row>
        <ion-row>
          <ion-col><div> <a href={{job?.jobLink}}>Link</a></div></ion-col>
          <ion-col class="end"><p>{{job?.jobDate}}</p></ion-col>
        </ion-row>
      </ion-card>
    </ion-list>

  <ion-list-header>
      <ion-icon name='pulse'></ion-icon>
      Interest
    </ion-list-header>
    <ion-scroll scrollX="true" id="interest">
      <ion-row>
        <ion-col><div> Augmented Reality</div></ion-col>
        <ion-col><div> App Development</div></ion-col>
        <ion-col><div> Web Development</div></ion-col>
        <ion-col><div> Virtual Reality</div></ion-col>
        <ion-col><div> Another Interest</div></ion-col>
    </ion-row>
    </ion-scroll>


  <ion-list-header>
    <ion-icon name='link'></ion-icon>
    Connections
  </ion-list-header>
  <ion-list id="connections">
    <button ion-item (click)="openConnections()">
      Connections
    </button>
    <button ion-item (click)="openMyEvents()">
      Events
    </button>
    <button ion-item (click)="openMyOpps()">
      Opportunties
    </button>


  </ion-list>
</ion-content>
