page-connections {

  .spinner-container {
        width: 100%;
        text-align: center;
        padding: 10px;
    }

  #user-friends {
    background: #000000;
  }

  #user-friends h2{
    color: #C6E947;

  }

  #user-friends h3 {
    color: #FFFFFF;

  }

}
