page-create-chat {


  #membersInChat {
    background: rgba(0, 0, 0, 0.6);
  }

  #membersInChat ion-row {
    text-align: left;
    height: 25px;

  }

  #membersInChat ion-col {
    border-radius: 30px;

  }

  .item {
    position: sticky;
    top: auto;
    height: 60px;

  }

  #friend {
    color: #FFFFFF;
  }

  #navbar {
    box-shadow: 0px 0px 10px 1px #515151;

  }

  #friend {
    background: #000000;
    border-bottom: 1px solid #515151;
  }

  #friend h2{
    color: #C6E947;

  }

  #friend p {
    color: #FFFFFF;
  }

  #friend ion-avatar {
    border: 1px solid #FFFFFF;
    border-radius: 100%;

  }




}
