page-create-chat {

  #friend {
    color: #FFFFFF;
  }

  #navbar {
    box-shadow: 0px 0px 10px 1px #515151;

  }

  #friend {
    background: #000000;
    border-bottom: 1px solid #515151;
  }

  #friend h2{
    color: #C6E947;

  }

  #friend p {
    color: #FFFFFF;
  }




}
