<!--
  Generated template for the CreateChat page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Create Chatroom</ion-title>
    <ion-buttons>
      <button ion-button icon-only (click)="closeChat()">
        <ion-icon name="close"></ion-icon>
      </button>
    </ion-buttons>
    <ion-buttons end>
      <button ion-button icon-only (click)="createMessage(members)">
        Next<ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar placeholder="Search"> </ion-searchbar>
  <ion-list>
    <ion-item wrap>
      <div *ngFor="let member of members; let i = index" >
      <button (click)="deleteMember(i)"><ion-icon name="close"></ion-icon> {{member?.firstname}} {{member?.lastname}}  </button>
    </div>
    </ion-item>
      <ion-item *ngFor="let user of users" id="friend" (click)=addToChat(user) text-wrap>
        <ion-avatar item-left>
          <img src="https://firebasestorage.googleapis.com/v0/b/bvweb-5da6d.appspot.com/o/BlackValley-2.jpg?alt=media&token=425be727-9c17-45d2-a824-8a9038a9dcf7">
        </ion-avatar>
        <div>
        <h1>{{user?.firstname}} {{user?.lastname}} </h1>
        <h2> hello</h2>
      </div>
      </ion-item>
  </ion-list>
</ion-content>
