page-groupchat {

  #navbar {
    box-shadow: 0px 0px 10px 1px #515151;

  }

  #content {
    background: #000000;
  }

  #input-comments {
    position: sticky;
    bottom: 0px;
    background: #000000;
    color: #C6E947;
    border-top: 2px solid #C6E947;
  }

  #post {
    background: #000000;
  }

  #post h2 {
    color: #FFFFFF;
  }

  #post h3 {
    color: #515151;
  }

  #post p {
    color: #C6E947;
    margin-left: 30px;
  }


  #post ion-avatar{
    border: 1px solid #FFFFFF;
    border-radius: 100%;
  }

  #post ion-item {
    padding: 0px;
    background: #000000;
  }


}
