page-groupchat {


  #content {
    background: #000000;
  }

  #input-comments {
    position: sticky;
    bottom: 0px;
    background: #000000;
    color: #C6E947;
    border-top: 2px solid #C6E947;
  }

  #post {
    background: #000000;
  }

  #post h2 {
    color: #FFFFFF;
  }

  #post h3 {
    color: #515151;
  }

  #post p {
    color: #C6E947;
  }

  #user-img {
    border: 1px solid #FFFFFF;

  }


  #post ion-avatar{
    border-radius: 100%;
    background: transparent;
  }

  #post ion-item {
    background: #000000;
  }


}
