page-signup {


  #content {
    background-color: #000000;
  }

  #content ion-list-header {
    color: #FFFFFF;
    font-size: 13px;
    }

  #signup-card{
    background-color: transparent;
  }

  #signup-card ion-card-title {
    color: #FFFFFF;
  }

  #signup-card ion-item{
    background-color: transparent;
    color: #FFFFFF;
  }
  #signup-form ion-input{
    border-bottom: 1px solid #C6E947;
  }

  #signup-card ion-datetime{
  }


}
