page-signup {


  #content {
    background-color: #000000;
  }

  #content ion-list-header {
    color: #FFFFFF;
    font-size: 13px;
    }

  #signup-card{
    background-color: transparent;
  }

  #profile-img button{
    border-radius: 100%;
    margin-top: 15px;
    width: 900px;
    height: 900px;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #FFFFFF;


  }


  #user-img {
    position: absolute;
    top: 0px;
    left: 0px;
    height:auto;

  }

  #signup-card ion-card-title {
    color: #FFFFFF;
  }

  #signup-card ion-item{
    background-color: transparent;
    color: #FFFFFF;
  }
  #signup-form ion-input{
    border: 1px solid #C6E947;
    padding-left: 5px;

  }

  #signup-card ion-datetime{
  }


}
