page-signup {


  #content {
    background-color: #000000;
  }

  #content ion-list-header {
    color: #FFFFFF;
    font-size: 13px;
    }

  #signup-card{
    background-color: transparent;
  }


  #profile-img {
    border: 3px solid #FFFFFF;
    border-radius: 100%;
    margin-top: 15px;
    width: 150px;
    height: 150px;
    margin-left: 90px;
    background: #515151;
    }


  #user-img {
    position: absolute;
    top: 0px;
    left: 0px;
    height:auto;
  }

  #signup-card ion-card-title {
    color: #FFFFFF;
  }

  #signup-card ion-item{
    background-color: transparent;
    color: #FFFFFF;
  }
  #signup-form ion-input{
    border: 1px solid #C6E947;
    padding-left: 5px;

  }

  #signup-card ion-datetime{
  }


}
