page-events {

  #content ion-item {
    background: transparent;
    color: #FFFFFF;
  }


  #event-card{
    box-shadow: 0 0 3px 2px #000;
    background-color: #000000;
  }

  #event-card-title{
    color: #C6E947;
    text-decoration: underline;

  }


  #event-date{
    background: #C6E947;
    color: #000000;
    border-radius: 10px;
    text-align: center;
    font-weight: bold;
    padding: 1px;
  }

  #card-header {
    background-color: black;
  }

  #card-title {
    color: #C6E947;
  }

  #event-referral {
    margin: -5px 10px 0px 10px;
  }


}
