<ion-header>
  <ion-navbar id="navbar">
    <ion-title>Chat Rooms</ion-title>
    <ion-buttons end id="create-chat">
      <button ion-button icon-only clear (click)="createChat()">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>

    <ion-item-sliding *ngFor="let chat of chats" >
            <button ion-item (click)="openGroupChat(chat?.id)" id="chatroom">
                <ion-thumbnail item-left>
                    <img id="message-img"padding src="{{chat?.pic}}" alt="GroupPhoto"/>
                </ion-thumbnail>
                <h2>{{chat?.topic}}</h2>

                <span item-right text-wrap>
                <ion-note>{{chat?.timestamp|date : 'h:mma'}} <br> {{chat?.timestamp|date : 'MMM/dd'}} </ion-note>
                <p>{{chat?.latestMessage}}</p>
              </span>
            </button>
            <ion-item-options side="left">
                <button danger >Delete Chat</button>
            </ion-item-options>
        </ion-item-sliding>

    <!-- <ion-item *ngFor="let chat of chats"(click)="openGroupChat()" id="chatroom" no-lines>

      <ion-avatar item-left>
        <img item left id="message-img"padding src="https://firebasestorage.googleapis.com/v0/b/bv-ionic.appspot.com/o/Camera_font_awesome.svg.png?alt=media&token=49f5e053-7e13-4041-9f4e-a0eb53601d11" alt="avatar">
      </ion-avatar>
      <h2>{{chat?.topic}}</h2>
      <p>{{chat?.messages.message}}</p>
      <span item-right text-wrap>
      <ion-note>{{chat?.timestamp|date : 'h:mma'}} <br> {{chat?.timestamp|date : 'MMM/dd'}} </ion-note>
    </span>
    </ion-item> -->
  </ion-list>
</ion-content>
