page-multichat {

  #navbar {
    box-shadow: 0px 0px 10px 1px #515151;

  }

  #chatroom ion-note{
    font-size: 12px;
    align-self: flex-start;
    margin-top: 14px;
  }

  #chatroom {
    background: #000000;
  }

  #chatroom h2{
    color: #C6E947;

  }

  #chatroom p {
    color: #FFFFFF;
  }

  #message-img {
    background-color: lightgray;
    border-radius: 15px;
  }



}
