page-signup2 {

  #content {
    background-color: #000000;
  }

  #content ion-item{
    background: #000000;
    color: #FFFFFF;
    padding: 0px;
  }
  #content ion-list-header {
    font-size: 13px;
    color: #FFFFFF;
    }

  #classify {
    color: #FFFFFF;
  }

  #location {
    color: #FFFFFF;
  }

  #state ion-select{
    width: 100%;
    position: absolute;
    right: 5px;
    padding-right: 5px;
  }


  .interest {
    padding: inherit;
    text-align: center;
    font-size: 14px;
    white-space: normal;
    background-color: #515151;
    border-radius: 15px;
    color: #FFFFFF;
    width: 100px;
    height: 80px;
  }

  ion-scroll {
  	height: 110px;
  }




}
