page-signup2 {

  #content {
    background-color: #000000;
  }
  #content ion-list-header {
    font-size: 13px;
    color: #FFFFFF;
    }

  #classify {
    color: #FFFFFF;
  }

  


  ion-col div {
    background-color: #515151;
    padding: 5px;
    padding-top: 20px;
    border-radius: 15px;
    text-align: center;
    color: #FFFFFF;
    width: 100px;
    height: 80px;
  }

}
