page-create-event {


  #content{
    background: #000000;
  }

  #content ion-item {
    background: transparent;
    color: #FFFFFF;
  }

  #content ion-textarea{
    color: #FFFFFF;
  }

  #content ion-input{
    color: #FFFFFF;
  }


  #event-img {
    background-color: transparent;
    color: #000000;
  }

  #postBtn {
    color: #C6E947;

  }

  #content ion-title {
    text-align: left;
    background: #515151;
    color: #000000;
  }




  #event-img button{
    max-height: 325px;
    max-width: 325px;
    margin-right: auto;
    margin-left: auto;
    color: #C6E947

  }



  #content ion-item {
    background: transparent;
    color: #FFFFFF;
  }

  #oppName {
    color: #FFFFFF;
    text-align: center;

  }

  #opp-img {
    background-color: lightgray;
    height: 250px;
    width: 100%;

  }



  ion-row {
    padding-top: -10px;
    padding-bottom: -10px;
    border-bottom: 2px solid #515151;
  }

  ion-col {
    border-right: 2px solid #515151;
  }




}
